/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
    --primary-color: #326db1;
    --neutral-color-1: #8c8e91;
    --neutral-color-2: #f1f3f2;
    --accent-color: #60b524;
    --white: #fff;
    --black: #000;
    --red: #f00;
    --font: 'Poppins', sans-serif;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.ttf');
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: var(--neutral-color-2);
      overflow-y: auto;
      min-height: 100vh;
    }
  }

  @media only screen and (min-width: 600px) {
    body {
        min-height: 100vh;
        overflow-y: auto;
        box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
        background-color: var(--neutral-color-2);
        font-family: var(--font);
        transition: background ease-out 1s 0.1s;
      }
  }