/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
    --primary-color: #3778c2;
    --neutral-color-1: #434b54;
    --neutral-color-2: #f1f3f2;
    --accent-color: #5fb523;
    --white: #fff;
    --black: #000;
    --red: #f00;
    --font: 'Poppins', sans-serif;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.ttf');
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: var(--neutral-color-2);
      overflow-y: auto;
      min-height: 100vh;
    }

    .login-wrapper {
        height: 100vh;
        width: 100%;
      }

      .login {
          width: 100%;
          height: min-height;
          background-color: var(--white);
      }

      .form-control {
        border: none;
        padding: 0;
      }

    input[type="submit"] {
        color: var(--white);
        background-color: var(--primary-color);
        border: none;
    }

    input[type="email"], input[type="password"]:focus {
        border: none;
        padding: 0 20px;
        width: 100%;
    }

      .form-label {
          margin: 0;
          padding: 0 15px;
          color: var(--neutral-color-1);
      }

      .simple-header {
        background-color: var(--primary-color);
        color: var(--white);
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        padding: 15px;
      }

      .links a {
        color: var(--neutral-color-1);
        text-decoration: none;
        display: flex;
        justify-content: center;
      }

      .line {
        margin: 0 30px 15px 20px;
        text-align: center;
        height: 1px;
        background-color: var(--neutral-color-1);
      }
      
  }

  @media only screen and (min-width: 600px) {
    body {
        min-height: 100vh;
        overflow-y: auto;
        box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
        background-color: var(--neutral-color-2);
        font-family: var(--font);
        transition: background ease-out 1s 0.1s;
      }
  }

  /* .login-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  } */